body{
  margin: 0;
  padding: 0;
}
/*navebar-styles*/
nav ul li{
  padding-right: 40px;
  cursor: pointer;
  color: #ffffff;
}
nav{
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
nav ul {
  display: flex; 
}
nav img{
  width: 150px;
  height: 150px;
  padding-top: 7px;
}
ul li:hover{
  color: red;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
.top-banner-container{
    width: 100%;
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
h1{
    font-size: 40px;
    font-weight: 700;
}
.name-highlight{
    color: orange;
}
.a-link{
    background-image: linear-gradient(45deg,rgb(214, 136, 105),#f23211);
    border-radius: 5px;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    display: inline-block;
    margin-top: 5px;
}
.half-width{
    width:90%;
    margin-left: 4%;
    padding-left: 2%;
}
.details{
  padding-top: 40px;
}
.half-width img{
    width: 100%;
    padding-top: 5px;
}
.dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}
h2{
    font-size: 30px;
    font-weight: 700;
}
h3{
  font-size: 21px;
}
.single-experience> p{
  font-size: 17px;
}
.experience-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 50px;
}
.experience-style{
  display: flex;
  margin-right: 10px;
}
.experience-heder{
  text-align: center;
  font-size: 35px;
  color: #de523a;
  padding-bottom: 30px;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    height: 250px;
}
#Junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
    height: 250px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170pxpx;
  margin: auto;
  text-align: center;
}
.row{
  display: flex;
  flex-wrap: wrap;
 }
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 40px 0;
}
.footer-col{
  width: 25%;
  padding:0;
  text-align: left;
  padding-left: 35px;
  
}
.footer-col h4{
  font-size: 18px;
  color: lightblue;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position:relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 60px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
/*minimum-width*/
@media screen and (min-width:576px) and (max-width: 992px) {
  .experience-area,
  .experience-style
    {
      flex-direction: column;
      background-image: none;
      margin: 0;
    }
    .single-experience{
      margin-bottom: 20px;
    }
}

/*responsive*/
@media(max-width: 576px){
  .nav-container{
    width: 50%;
  }
  nav ul li{
    padding-right: 18px;
  }
  nav img{
    width: 130px;
    height: 130px;
    padding-top: 7px;
  }
  .top-banner-container,
  .experience-area,
  .experience-style
    {
      flex-direction: column;
      background-image: none;
      margin: 0;
    }
    .half-width{
      margin-bottom: 20px;
      padding: 0px; 
    }
  .dream-area{
    flex-direction: column-reverse;
    background-image: none;
  }
  .single-experience{
    margin-left: 25px;
  }
  .single-experience>h2, h3, p{
    padding-left: 4px;
  }

  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 13px;
  }
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
  }
}